<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h2>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h2>
      <p class="lead">{{ site.description }}</p>
    </div>
 
<center>
<a href="https://www.linkedin.com/in/shanehenryharper" title="LinkedIn"><i class="fab fa-linkedin fa-3x"></i></a>&nbsp;&nbsp;
<a href="https://www.facebook.com/shanehenryharper" title="Facebook"><i class="fab fa-facebook fa-3x"></i></a>&nbsp;&nbsp;
<a href="https://twitter.com/ShaneHHarper" title="Twitter"><i class="fab fa-twitter fa-3x"></i></a>&nbsp;&nbsp;
<a href="https://www.researchgate.net/profile/Shane_Harper" title="ResearchGate"><i class="fas fa-book fa-3x"></i></a>

</center>
    <br>
    
  </div>
</div>
